<div style="text-align: center;"> <h3>Statistical Theory</h3>
<h5>Formative Assessment 3</h5>
<h5><u>By Romand Lansangan</u></h5>
    </div>
    
---

#### Instruction:
The data in Table 5.1 samples of size 50 from a normal distribution, a skewed-right distribution, a skewed-left distribution, and a uniform distribution.

The normal data are female height measurements, the skewed-right data are age at marriage for females, the skewed-left data are obituary data that give the age at death for females, and the uniform data are the amount of cola put into a 12 ounce container by a soft drinks machine.

![]('')

In [2]:
import pandas as pd

In [3]:
def moments_calculator(df):
    first_moment = df.mean()
    second_moment = df.apply(lambda x: x**2).mean()
    third_moment = df.apply(lambda x: x**3).mean()
    fourth_moment = df.apply(lambda x: x**4).mean()
    return {
       'first_moment' : first_moment,
        'second_moment' : second_moment,
        'third_moment' : third_moment,
        'fourth_moment' : fourth_moment
    }

In [4]:
def pretty_print(moments, title):
    print(title)
    for moment, series in moments.items():
        print(f"    {moment}:")
        series_str = series.to_string().replace("\n", "\n        ")
        print(f"        {series_str}")

In [5]:
df_raw = pd.read_csv('FA4_Stats.csv')
df_raw.head(10)

   Normal  Skewed-right  Skewed-left  Uniform
0      67            31          102     12.1
1      70            43           55     12.1
2      63            30           70     12.4
3      65            30           95     12.1
4      68            38           73     12.1
5      60            26           79     12.2
6      70            29           60     12.2
7      64            55           73     12.2
8      69            46           89     11.9
9      61            26           85     12.2

In [6]:
df_raw.describe()

          Normal  Skewed-right  Skewed-left    Uniform
count  50.000000     50.000000    50.000000  50.000000
mean   65.120000     35.480000    74.200000  12.056000
std     2.911203     13.510752    20.696051   0.283678
min    59.000000     19.000000    10.000000  11.600000
25%    63.000000     27.250000    70.000000  11.800000
50%    65.000000     32.000000    77.000000  12.050000
75%    67.000000     38.000000    88.500000  12.300000
max    71.000000     85.000000   104.000000  12.500000

A)

In [8]:
moments_raw = moments_calculator(df_raw)
pretty_print(moments_raw, "Moments Raw")

Moments Raw
    first_moment:
        Normal          65.120
        Skewed-right    35.480
        Skewed-left     74.200
        Uniform         12.056
    second_moment:
        Normal          4248.920
        Skewed-right    1437.720
        Skewed-left     5925.400
        Uniform          145.426
    third_moment:
        Normal          277770.92000
        Skewed-right     68292.44000
        Skewed-left     489458.80000
        Uniform           1755.15776
    fourth_moment:
        Normal          1.819417e+07
        Skewed-right    3.797594e+06
        Skewed-left     4.139616e+07
        Uniform         2.119459e+04

In [9]:
df_about_mean = pd.DataFrame()

mean_normal_column = df_raw['Normal'].mean()
df_about_mean['Normal'] = df_raw['Normal'] - mean_normal_column

mean_skwright_column = df_raw['Skewed-right'].mean()
df_about_mean['Skewed-right'] = df_raw['Skewed-right'] - mean_skwright_column

mean_skwleft_column = df_raw['Skewed-left'].mean()
df_about_mean['Skewed-left'] = df_raw['Skewed-left'] - mean_skwleft_column

mean_uniform_column = df_raw['Uniform'].mean()
df_about_mean['Uniform'] = df_raw['Uniform'] - mean_uniform_column

df_about_mean.head(10)

   Normal  Skewed-right  Skewed-left  Uniform
0    1.88         -4.48         27.8    0.044
1    4.88          7.52        -19.2    0.044
2   -2.12         -5.48         -4.2    0.344
3   -0.12         -5.48         20.8    0.044
4    2.88          2.52         -1.2    0.044
5   -5.12         -9.48          4.8    0.144
6    4.88         -6.48        -14.2    0.144
7   -1.12         19.52         -1.2    0.144
8    3.88         10.52         14.8   -0.156
9   -4.12         -9.48         10.8    0.144

In [10]:
moments_about_mean = moments_calculator(df_about_mean)
pretty_print(moments_about_mean, 'Moments about the Mean')

Moments about the Mean
    first_moment:
        Normal         -4.547474e-15
        Skewed-right    3.410605e-15
        Skewed-left    -2.842171e-15
        Uniform        -9.237056e-16
    second_moment:
        Normal            8.305600
        Skewed-right    178.889600
        Skewed-left     419.760000
        Uniform           0.078864
    third_moment:
        Normal             -0.471744
        Skewed-right     4588.128384
        Skewed-left    -12498.264000
        Uniform             0.000335
    fourth_moment:
        Normal             160.948626
        Skewed-right    210642.883436
        Skewed-left     927289.747200
        Uniform              0.011251

In [11]:
df_about_sevenfive = pd.DataFrame()

constant = 75

df_about_sevenfive['Normal'] = df_raw['Normal'] - constant

df_about_sevenfive.head(10)

   Normal
0      -8
1      -5
2     -12
3     -10
4      -7
5     -15
6      -5
7     -11
8      -6
9     -14

In [12]:
moments_about_sevenfive = moments_calculator(df_about_sevenfive)
pretty_print(moments_about_sevenfive, "Moments about the number 75")

Moments about the number 75
    first_moment:
        Normal   -9.88
    second_moment:
        Normal    105.92
    third_moment:
        Normal   -1211.08
    fourth_moment:
        Normal    14572.64

In [13]:
sevenfive_fir = moments_about_sevenfive['first_moment']['Normal']
sevenfive_sec = moments_about_sevenfive['second_moment']['Normal']
sevenfive_thi = moments_about_sevenfive['third_moment']['Normal']
sevenfive_fou = moments_about_sevenfive['fourth_moment']['Normal']

In [14]:
second_moment_check = sevenfive_sec - (sevenfive_fir)**2
print("Second moment about 75:", second_moment_check)
print("Second moment about the mean:", moments_about_mean['second_moment']['Normal'])

Second moment about 75: 8.305599999999984
Second moment about the mean: 8.3056

In [15]:
third_moment_check = sevenfive_thi - (3*sevenfive_fir*sevenfive_sec) + 2*sevenfive_fir**3 
print("Third moment about 75:", third_moment_check)
print("Third moment about the mean:", moments_about_mean['third_moment']['Normal'])

Third moment about 75: -0.4717440000001716
Third moment about the mean: -0.4717440000001135

In [16]:
fourth_moment_check = sevenfive_fou - (4*sevenfive_fir*sevenfive_thi) + (6*(sevenfive_fir**2)*sevenfive_sec) - 3*(sevenfive_fir**4) 
print("Fourth moment about 75:", fourth_moment_check)
print("Fourth moment about the mean:", moments_about_mean['fourth_moment']['Normal'])

Fourth moment about 75: 160.94862591999117
Fourth moment about the mean: 160.94862592