<div style="text-align: center;"> <h3>Statistical Theory</h3>
<h5>Formative Assessment 4</h5>
<h5><u>By Romand Lansangan</u></h5>
    </div>
    
---

#### Instruction:
The data in Table 5.1 samples of size 50 from a normal distribution, a skewed-right distribution, a skewed-left distribution, and a uniform distribution.

The normal data are female height measurements, the skewed-right data are age at marriage for females, the skewed-left data are obituary data that give the age at death for females, and the uniform data are the amount of cola put into a 12 ounce container by a soft drinks machine.

![](https://github.com/RomandRapido/APM1111/blob/main/FA4-Lansangan/Table%205.1.jpg?raw=true)

Compute the following using R or Python.

#### 1) 
Find the (a) first, (b) second, (c) third, and (d ) fourth moments <b>for each of the sets of data (normal, skewed-right, skewed-left, uniform)</b>.

First and foremost, let us create a function for calculating moments. 

If $X_1, X_2, . . . ,X_N$ are the N values assumed by the variable X, we defined the rth moment as

$$
\overline{X^r} = \frac{X^r_1 + X^r_2 ... + X^r_N}{N}  = \frac{\sum^N_{j=1}X^r_j}{N} = \frac{\sum X^r}{N}
$$

where r is the moment (i.e. for first moment r = 1, for second r = 2, etc.) 

The rth moment about any origin A is defined as

$$
m'_r = \frac{\sum^N_{k=1}(X_j - A)^r}{N} = \frac{\sum (X - A)^r}{N} = \overline{(X-A)^r}
$$

So basically, it's the mean of the centered data around a specific value (A) raised to r, which is the moment.

Thus, we'll have the following function to compute the moments

In [5]:
import pandas as pd

In [6]:
def moments_calculator(df):
    first_moment = df.mean()
    second_moment = df.apply(lambda x: x**2).mean()
    third_moment = df.apply(lambda x: x**3).mean()
    fourth_moment = df.apply(lambda x: x**4).mean()
    return {
       'first_moment' : first_moment,
        'second_moment' : second_moment,
        'third_moment' : third_moment,
        'fourth_moment' : fourth_moment
    }

For a more presentable printing of the data, let us also create function for printing

In [8]:
def pretty_print(moments, title):
    print(title)
    for moment, series in moments.items():
        print(f"    {moment}:")
        series_str = series.to_string().replace("\n", "\n        ")
        print(f"        {series_str}")

Now let us proceed to importing the data, I have created a csv file corresponding the data given ([Click Here to view file](https://github.com/RomandRapido/APM1111/blob/main/FA4-Lansangan/FA4_Stats.csv))

In [10]:
df_raw = pd.read_csv('FA4_Stats.csv')
df_raw.head(10)

   Normal  Skewed-right  Skewed-left  Uniform
0      67            31          102     12.1
1      70            43           55     12.1
2      63            30           70     12.4
3      65            30           95     12.1
4      68            38           73     12.1
5      60            26           79     12.2
6      70            29           60     12.2
7      64            55           73     12.2
8      69            46           89     11.9
9      61            26           85     12.2

In [11]:
df_raw.describe()

          Normal  Skewed-right  Skewed-left    Uniform
count  50.000000     50.000000    50.000000  50.000000
mean   65.120000     35.480000    74.200000  12.056000
std     2.911203     13.510752    20.696051   0.283678
min    59.000000     19.000000    10.000000  11.600000
25%    63.000000     27.250000    70.000000  11.800000
50%    65.000000     32.000000    77.000000  12.050000
75%    67.000000     38.000000    88.500000  12.300000
max    71.000000     85.000000   104.000000  12.500000

The item one just asked us to find the moments of raw data so no shifting is needed.

Calculating the <b>moments of raw data </b>

In [13]:
moments_raw = moments_calculator(df_raw)
pretty_print(moments_raw, "Moments Raw")

Moments Raw
    first_moment:
        Normal          65.120
        Skewed-right    35.480
        Skewed-left     74.200
        Uniform         12.056
    second_moment:
        Normal          4248.920
        Skewed-right    1437.720
        Skewed-left     5925.400
        Uniform          145.426
    third_moment:
        Normal          277770.92000
        Skewed-right     68292.44000
        Skewed-left     489458.80000
        Uniform           1755.15776
    fourth_moment:
        Normal          1.819417e+07
        Skewed-right    3.797594e+06
        Skewed-left     4.139616e+07
        Uniform         2.119459e+04

---

#### 2) 
Find the (a) first, (b) second, (c) third, and (d ) fourth moments <b> about the mean </b> for each of the sets of data (normal, skewed-right, skewed-left, uniform).

Let us get the mean of each column first then shift the raw data to be centered around their corresponding mean.

In [15]:
df_about_mean = pd.DataFrame()

mean_normal_column = df_raw['Normal'].mean()
df_about_mean['Normal'] = df_raw['Normal'] - mean_normal_column

mean_skwright_column = df_raw['Skewed-right'].mean()
df_about_mean['Skewed-right'] = df_raw['Skewed-right'] - mean_skwright_column

mean_skwleft_column = df_raw['Skewed-left'].mean()
df_about_mean['Skewed-left'] = df_raw['Skewed-left'] - mean_skwleft_column

mean_uniform_column = df_raw['Uniform'].mean()
df_about_mean['Uniform'] = df_raw['Uniform'] - mean_uniform_column

df_about_mean.head(10)

   Normal  Skewed-right  Skewed-left  Uniform
0    1.88         -4.48         27.8    0.044
1    4.88          7.52        -19.2    0.044
2   -2.12         -5.48         -4.2    0.344
3   -0.12         -5.48         20.8    0.044
4    2.88          2.52         -1.2    0.044
5   -5.12         -9.48          4.8    0.144
6    4.88         -6.48        -14.2    0.144
7   -1.12         19.52         -1.2    0.144
8    3.88         10.52         14.8   -0.156
9   -4.12         -9.48         10.8    0.144

In [48]:
df_about_mean.describe()

             Normal  Skewed-right   Skewed-left       Uniform
count  5.000000e+01  5.000000e+01  5.000000e+01  5.000000e+01
mean  -4.547474e-15  3.410605e-15 -2.842171e-15 -9.237056e-16
std    2.911203e+00  1.351075e+01  2.069605e+01  2.836785e-01
min   -6.120000e+00 -1.648000e+01 -6.420000e+01 -4.560000e-01
25%   -2.120000e+00 -8.230000e+00 -4.200000e+00 -2.560000e-01
50%   -1.200000e-01 -3.480000e+00  2.800000e+00 -6.000000e-03
75%    1.880000e+00  2.520000e+00  1.430000e+01  2.440000e-01
max    5.880000e+00  4.952000e+01  2.980000e+01  4.440000e-01

Notice that the mean is essentially 0. That is perfectly normal and a further proof that the data has been indeed mean-centered.

Calculating the <b>moments about the mean</b>

In [17]:
moments_about_mean = moments_calculator(df_about_mean)
pretty_print(moments_about_mean, 'Moments about the Mean')

Moments about the Mean
    first_moment:
        Normal         -4.547474e-15
        Skewed-right    3.410605e-15
        Skewed-left    -2.842171e-15
        Uniform        -9.237056e-16
    second_moment:
        Normal            8.305600
        Skewed-right    178.889600
        Skewed-left     419.760000
        Uniform           0.078864
    third_moment:
        Normal             -0.471744
        Skewed-right     4588.128384
        Skewed-left    -12498.264000
        Uniform             0.000335
    fourth_moment:
        Normal             160.948626
        Skewed-right    210642.883436
        Skewed-left     927289.747200
        Uniform              0.011251

---

#### 3)

Find the (a) first, (b) second, (c) third, and (d ) fourth moments <b>about the number 75 for the set of female height measurements</b>.

The female height measurements can be found under the Normal column of the original data.

Shifting the raw data to be centered around the number 75.

In [19]:
df_about_sevenfive = pd.DataFrame()

constant = 75

df_about_sevenfive['Normal'] = df_raw['Normal'] - constant

df_about_sevenfive.head(10)

   Normal
0      -8
1      -5
2     -12
3     -10
4      -7
5     -15
6      -5
7     -11
8      -6
9     -14

In [51]:
df_about_sevenfive.describe()

          Normal
count  50.000000
mean   -9.880000
std     2.911203
min   -16.000000
25%   -12.000000
50%   -10.000000
75%    -8.000000
max    -4.000000

In [20]:
moments_about_sevenfive = moments_calculator(df_about_sevenfive)
pretty_print(moments_about_sevenfive, "Moments about the number 75")

Moments about the number 75
    first_moment:
        Normal   -9.88
    second_moment:
        Normal    105.92
    third_moment:
        Normal   -1211.08
    fourth_moment:
        Normal    14572.64

---

#### 4)
Using the results of items 2 and 3 for the set of female height measurements, verify the relations between the moments:

##### 4a) 

$$
m_2 = m'_2 - m'^2_1
$$

Assume that $m'_N$ indicates moments N of the data that is centered around number 75. Thus $m_N$ is the mean-centered data. 

Let us first assign the calculated data earlier (for item 3) to more intuitive variables for convenience.

In [23]:
sevenfive_fir = moments_about_sevenfive['first_moment']['Normal']
sevenfive_sec = moments_about_sevenfive['second_moment']['Normal']
sevenfive_thi = moments_about_sevenfive['third_moment']['Normal']
sevenfive_fou = moments_about_sevenfive['fourth_moment']['Normal']

Now, let us check if the initial relationship is true.

In [25]:
second_moment_check = sevenfive_sec - (sevenfive_fir)**2
print("Second moment about 75:", second_moment_check)
print("Second moment about the mean:", moments_about_mean['second_moment']['Normal'])

Second moment about 75: 8.305599999999984
Second moment about the mean: 8.3056

Since both the second moments from about 75 and about the mean are relatively same, we can conclude that the initial condition $m_2 = m'_2 - m'^2_1$ <b>is indeed true</b> for our dataset and computation.

##### 4b) 

$$
m_3 = m'_3 - 3m'_1m'_2 + 2m'^3_1
$$

In [28]:
third_moment_check = sevenfive_thi - (3*sevenfive_fir*sevenfive_sec) + 2*sevenfive_fir**3 
print("Third moment about 75:", third_moment_check)
print("Third moment about the mean:", moments_about_mean['third_moment']['Normal'])

Third moment about 75: -0.4717440000001716
Third moment about the mean: -0.4717440000001135

Since both the third moments from about 75 and about the mean are relatively same, we can conclude that the initial condition $m_3 = m'_3 - 3m'_1m'_2 + 2m'^3_1$ <b>is indeed true</b> for our dataset and computation.

##### 4c) 

$$
m_4 = m'_4 - 4m'_1m'_3 + 6m'^2_1m'_2 - 3m'^4_1
$$

In [31]:
fourth_moment_check = sevenfive_fou - (4*sevenfive_fir*sevenfive_thi) + (6*(sevenfive_fir**2)*sevenfive_sec) - 3*(sevenfive_fir**4) 
print("Fourth moment about 75:", fourth_moment_check)
print("Fourth moment about the mean:", moments_about_mean['fourth_moment']['Normal'])

Fourth moment about 75: 160.94862591999117
Fourth moment about the mean: 160.94862592

Since both the fourth moments from about 75 and about the mean are relatively same, we can conclude that the initial condition $m_4 = m'_4 - 4m'_1m'_3 + 6m'^2_1m'_2 - 3m'^4_1$ <b> is indeed true</b> for our dataset and computation.