<div style="text-align: center;"> <h3>Statistical Theory</h3>
<h5>Formative Assessment 3</h5>
<h5><u>By Romand Lansangan</u></h5>
    </div>
    
---

#### (3.49) Prove that:
$$
\sum_{j=1}^N (X_j - 1)^2 = \sum_{j=1}^N X_j^2 - 2\sum_{j=1}^N X_j + N
$$

Proof:

<b>Expanding the summand</b> we'll have,

$$
\sum_{j=1}^N (X_j - 1)^2 = \sum_{j=1}^N X_j^2 - 2\sum_{j=1}^N X_j + \sum_{j=1}^N 1
$$

Note that in $ \sum_{j=1}^N 1 $ we just ought to add 1 Nth times. Therefore,

$$
\sum_{j=1}^N (X_j - 1)^2 = \sum_{j=1}^N X_j^2 - 2\sum_{j=1}^N X_j + \sum_{j=1}^N N
$$

As desired $\square$

In [2]:
import pandas as pd

In [4]:
data = '''88 45 53 86 33 86 85 30 89 53 41 96 56 38 62
71 51 86 68 29 28 47 33 37 25 36 33 94 73 46
42 34 79 72 88 99 82 62 57 42 28 55 67 62 60
96 61 57 75 93 34 75 53 32 28 73 51 69 91 35'''

data_list = [int(num) for num in data.split()]
data_series = pd.Series(data_list)
data_series

0     88
1     45
2     53
3     86
4     33
5     86
6     85
7     30
8     89
9     53
10    41
11    96
12    56
13    38
14    62
15    71
16    51
17    86
18    68
19    29
20    28
21    47
22    33
23    37
24    25
25    36
26    33
27    94
28    73
29    46
30    42
31    34
32    79
33    72
34    88
35    99
36    82
37    62
38    57
39    42
40    28
41    55
42    67
43    62
44    60
45    96
46    61
47    57
48    75
49    93
50    34
51    75
52    53
53    32
54    28
55    73
56    51
57    69
58    91
59    35
dtype: int64

In [123]:
valid = data_series.size
median = data_series.median()
mean = data_series.mean()
mode = data_series.mode()
std = data_series.std()
var = data_series.var()
skew = data_series.skew()
stdSkew = (((6 * valid * (valid - 1)) / ((valid - 2) * (valid + 1) * (valid + 3)))**0.5)
kurt = data_series.kurt()
stdKurt = (((24 * valid * (valid - 1)**2) / ((valid - 2) * (valid - 3) * (valid + 3) * (valid + 5)))**0.5)
min_val = data_series.min()
max_val = data_series.max()
percentiles = [0.25, 0.50, 0.75, 0.90, 0.95]
quartiles_list = data_series.quantile(percentiles)
quartiles_list.loc[0.25]

28

In [125]:
statistics = {
    "Score": [
        valid,
        mode[0],
        median,
        mean,
        std,
        var,
        skew,
        stdSkew,
        kurt,
        stdKurt,
        min_val,
        max_val,
        quartiles_list.loc[0.25],
        quartiles_list.loc[0.50],
        quartiles_list.loc[0.75],
        quartiles_list.loc[0.90],
        quartiles_list.loc[0.95]
    ]
}

labels = [
    "Valid",
    "Mode",
    "Median",
    "Mean",
    "Std. Deviation",
    "Variance",
    "Skewness",
    "Std. Error of Skewness",
    "Kurtosis",
    "Std. Error of Kurtosis",
    "Minimum",
    "Maximum",
    "25th percentile",
    "50th percentile",
    "75th percentile",
    "90th percentile",
    "95th percentile"
]

In [135]:
stats_df = pd.DataFrame(statistics, index=labels)
stats_df.iloc[1:] = stats_df.iloc[1:].round(3)
stats_df.iloc[0] = stats_df.iloc[0].astype(int)

stats_df

                          Score
Valid                    60.000
Mode                     28.000
Median                   57.000
Mean                     59.167
Std. Deviation           22.211
Variance                493.328
Skewness                  0.167
Std. Error of Skewness    0.309
Kurtosis                 -1.244
Std. Error of Kurtosis    0.608
Minimum                  25.000
Maximum                  99.000
25th percentile          37.750
50th percentile          57.000
75th percentile          76.000
90th percentile          89.200
95th percentile          94.100